body {
    font-family: FreeMono, monospace;
    margin: 0;
    padding: 0;
background-image:  radial-gradient(#0d6efd 1.4500000000000002px, transparent 1.4500000000000002px), radial-gradient(#0d6efd 1.4500000000000002px, #ffffff 1.4500000000000002px);
background-size: 58px 58px;
background-position: 0 0,29px 29px;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
background-color: #ffffff;
opacity: 1;
background-image:  linear-gradient(30deg, #0d6efd 12%, transparent 12.5%, transparent 87%, #0d6efd 87.5%, #0d6efd), linear-gradient(150deg, #0d6efd 12%, transparent 12.5%, transparent 87%, #0d6efd 87.5%, #0d6efd), linear-gradient(30deg, #0d6efd 12%, transparent 12.5%, transparent 87%, #0d6efd 87.5%, #0d6efd), linear-gradient(150deg, #0d6efd 12%, transparent 12.5%, transparent 87%, #0d6efd 87.5%, #0d6efd), linear-gradient(60deg, #0d6efd77 25%, transparent 25.5%, transparent 75%, #0d6efd77 75%, #0d6efd77), linear-gradient(60deg, #0d6efd77 25%, transparent 25.5%, transparent 75%, #0d6efd77 75%, #0d6efd77);
background-size: 40px 70px;
background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px; }

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 50px 20px;
}

.posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

article {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

article img {
    max-width: 100%;
    border-radius: 10px;
}

article a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

