{% extends "base.html" %}

{% block extra_css %} 

      <style>
        body {
            background-color: #f8f9fa;
        }
        .blog-post {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 2rem;
            margin-top: 2rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .blog-title {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .blog-date {
            color: #6c757d;
            font-size: 0.9rem;
            margin-bottom: 1.5rem;
        }
        .blog-content {
            font-size: 1.1rem;
            line-height: 1.6;
        }
    </style>    
{% endblock %}

{% block content %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-post">
              <h1 class="blog-title">{{ post.blog_name }}</h1>
                    
              <div class="blog-date">Published on: {{ post.blog_date }}</div>
                    
                    <div class="blog-content">
     {{post.blog_message | safe}}                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
