{% extends "base.html" %}

   
{% block content %}
    <section class=" containter-fluid text-center text-center bg-primary text-white py-5">
      <div class = "row">
        <div class = "col">
        <h2>Welcome to My Blog</h2>
        <p>Sharing thoughts, ideas, and stories.</p>
        </div>
        <div class = "col">
          <p>something else</p>
        </div>
        </div>
    </section>
    
    <section class="container mt-5">
        <div class="row">
        {% for post in posts %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card" >
          {% if post.blog_data.thumbnail %}
            {% set img = post.blog_data.thumbnail %}
            {% set alt_text = "thumbnail" %}
          {% else %}
           {% set img = "/images/basic_background.png"%} {% set alt_text = "default image: blue background" %}
          {% endif %}
            <img src= "{{img}}" class="card-img-top" alt="{{alt_text}}">

                    <div class="card-body">
              <h5 class="card-title">{{ post.blog_data.title }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.blog_data.date }}</h6>

              <p class="card-text">no description</p>
              <a href="/blogs/{{ post.path }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
                    </div>
    </section>
{% endblock %}


